.Search-Form {
	overflow: hidden;
	
	.Search-List {
		margin: 20px auto;
		overflow: hidden;

		.songName {
			color: #333;
		}

		.author {
			color: red;
		}

		.author-z {
			color: #666;
		}

		.playMusic {
			float: right;
		}

	}

}
